.best-places{
    width: 100%;
    min-height: 70rem;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 2rem;
    font-family: 'Open Sans';
}

.bp-head{
    margin-top: 3rem;
    font-size: 2.5rem;
}

.bp-head span{
    color: rgb(73, 73, 229);
}

.bp-bot{
    /* border:2px solid black ; */
    width: 75%;
    min-height: 65rem;
    margin-top: 1rem;
    display: flex;
    margin-left: -5rem;
    /* justify-content: center; */
    overflow-x: scroll;
}

.bp-bot::-webkit-scrollbar {
    display: none;
  }

  /* Styles for the travel card container */
  .travel-card {
    width: 300px;
    height: 52rem;
    border: 1px solid #ccc;
    border-radius: 10px;
    margin: 20px;
    padding: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Styles for the image */
.travel-card img {
    width: 28rem;
    max-height: 35rem;
    border-radius: 8px;
}

/* Styles for the title and description */
.travel-card h2 {
    font-size: 1.5rem;
    margin: 10px 0;
}

.travel-card p {
    font-size: 1rem;
    color: #555;
}

/* Styles for the button */
.travel-card button {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 8px 16px;
    cursor: pointer;
    margin-top: 1.5rem;
    transition: background-color 0.3s ease;
}

.travel-card button:hover {
    background-color: #0056b3;
}
